.home-banner-image {
	position: relative;
	float: right;
	clear: both;
	display: block;
    margin-top: 70px;
    right: 0;
    width: auto;
    max-width: 98%;
}

section.clients {
	.col-xs-4 {
		-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
		border-top: solid 1px $blue;
	}
}
section.slider {
	.slider-text-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		color: #f2f2f2;
		text-shadow: 1px 1px 1px #3c3c3b;
		background-color: rgba(0,0,0,0.7);
		padding: 20px 0;

	}
}

@media only screen and (min-width: 768px) {
	.home-banner-image {
    	max-width: 48%;
	}

	h1.banner {
		margin-top: -100px;
	}

	section.work {
		img {
			max-height: 280px;
			width: auto;
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}
	}
}