.btn.contact-form-btn {
	background-color: $red;
	color: $white;
	border-radius: 0;
	font-size: 1.4em;
	padding: 6px 28px;
}

textarea {
	resize: none;
	min-height: 180px;
	width: 100%;
	border: solid 1px $grey;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.45);
}

label {
	color: $red;
	margin-bottom: 2px;
	padding: 0 2px !important;
}

input {
	width: 100%;
	border: solid 1px $grey;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.45);
    height: 45px;
    padding: 6px;
}

.search-bar {
	position: relative;
	float: right;
	width: 410px;
	margin: 60px 0;

	input {
		position: relative;
		float: left;
		max-width: 260px;
		margin: 0;
	}

	button.btn {
		position: relative;
		float: right;
		background-color: $red;
		margin: 0;
	}
}