header {
	position: relative;
	float: left;
	width: 100%;
	display: block;

	.header--logo {
		position: relative;
	    float: left;
	    z-index: 0;
	    font-family: 'Pacifico', cursive;
	    font-size: 2em;
	    line-height: 2em;
	    color: white;
	    text-decoration: none;
	}
}