$yellow : #FFCC2E;
$blue : #5c84e9;
$red : #F15A24;
$grey : #666666;
$white : #ffffff;
$white-secondary : #f2f2f2;
$translucent-black:				rgba(0,0,0,0.58);
$translucent-white:				rgba(255,255,255,0.3);
$translucent-white-alt:			rgba(255,255,255,0.8);